/*global styles*/
section{
    width: 100%;
    padding: 100px 8%;
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 800px) and (min-width: 415px){
    section{
        padding: 100px 12%;
        flex-direction: column;

    }
}

@media only screen and (max-width:414px ){
    section{
        padding: 100px 32px;
        flex-direction: column;
    }
}

/*project hero section*/
.project-title{
    background: var(--accend-color-50);
    width:100%;
    height: 480px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.project-title>h1, h5{
    z-index: 2;
}
.project-title>h1{
    margin-bottom: 1rem;
}
.project-title img{
    content:url("../../../images/Desktop-dark\ 2.png");
    max-width: 600px;
    height: auto;
    position: absolute;
    z-index:1;
}
.project-title img[class$="1"]{
    left: -10%;
    top:-35px;
}
.project-title img[class$="2"]{
    right: -10%;
    bottom:-30px;
}


@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .project-title img{
        max-width: 580px;
    }
    .project-title img[class$="1"]{
        left: -15%;
        top:-200px;
    }
    .project-title img[class$="2"]{
        right: -15%;
        bottom:-200px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 415px){
        .project-title img{
        max-width: 400px;
    }
    .project-title img[class$="1"]{
        left: -17%;
        top:-120px;
    }
        .project-title img[class$="2"]{
        right: -17%;
        bottom:-120px;
    }
}
@media only screen and (max-width: 414px) {
    .project-title img{
        max-width: 400px;
    }
    .project-title img[class$="1"]{
        left: -17%;
        top:-120px;
    }
        .project-title img[class$="2"]{
        right: -17%;
        bottom:-120px;
    }
    .project-title > h1 {
        font-size: var(--display-fs-6);
    }
}




/*client section*/
.client-intro > .col-1, .col-2{
    width: 50%;
}


.client-intro .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-intro .col-2 .tg-logo{
    content: url(../../../images/tg-logo.png);
    max-width: 220px;
    height:auto;
}

@media only screen and (max-width: 768px){
    .client-intro > .col-1, .col-2{
        width: 100%;
    }
    .client-intro > .col-1 {
        margin-bottom: 60px;
    }
}

/*project overview*/
.project-overview .col-1{
    width: 60%;
    padding-right: var(--p-space-md);
}
.project-overview .col-2{
    width: 40%;
    position: relative;
}
.project-overview .col-1 .breakdown{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--p-space-md);
    row-gap: var(--p-space-sm);
}

.project-overview .col-2 .old-homepage{
    content: url(../../../images/old-homepage.png);
    max-width: 900px;
    height: auto;
    position: absolute;
}

@media only screen and (max-width: 768px) and (min-width: 415px){
    .project-overview .col-1 {
        width: 100%;
        padding-right:0;
        margin-bottom: 60px;
    }
    .project-overview .col-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-overview .col-2 .old-homepage{
        max-width: 600px;
        height: auto;
        position: static;
    }

}

@media only screen and (max-width: 414px){
    .project-overview .col-1 {
        width: 100%;
        padding-right:0;
        margin-bottom: 60px;
    }
    .project-overview .col-1 .breakdown {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        column-gap: 0;
    }
    .project-overview .col-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-overview .col-2 .old-homepage{
        max-width: 360px;
        height: auto;
        position: static;
    }
}

/*problems*/
.problems{
    display: flex;
    flex-direction: column;
}

.problems > .row-1, .row-2{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-1 > h3{
    display: block;
    padding-top: 24px;
}
.row-2 > h3{
    display: block;
    padding-top: 24px;
}
.problem > h2{
    max-width: 400px;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .problems > .row-1, .row-2{
        flex-direction: column;
    }
    .problems > .row-1 {
        margin-bottom: 60px;
    }
    .problem > h2 {
        width: 560px;
    }
}

@media only screen and (max-width: 414px)  {
    .problems > .row-1, .row-2{
        flex-direction: column;
    }
    .problems > .row-1 {
        margin-bottom: 60px;
    }
    .problem > h2 {
        width: 350px;
    }
}



/*how might we*/
.hmw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accend-color-50);
}
.hmw > .wrapper{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    align-items: flex-start;
}

@media only screen and (max-width: 768px) and (min-width: 415px){
    .hmw > .wrapper{
        max-width: 568px;
    }
}

@media only screen and (max-width: 414px) {
    .hmw{
        align-items: normal;
    }
    .hmw > .wrapper{
        max-width: 350px;
    }
}

/*project kickoff*/
.kickoff{
    flex-direction: column;
}
.kickoff .row-1 {
    margin-bottom: 80px;
}
.kickoff .row-1 .intro > p{
    max-width: 900px;
}
.kickoff .wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
}
.kickoff .wrapper .col-1 > p {
    max-width: 400px;
}
.kickoff .wrapper > .col-1, .col-2{
    margin-right: var(--p-space-md);
}
.kickoff .wrapper .arrows {
    display: flex;
    flex-direction: column;
}

.kickoff .wrapper .arrows .arrow-container{
    height: 50%;
    display: flex;
    /* width: 70px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kickoff .wrapper .arrows .arrow{
    content: url(../../../images/Arrow.png);
    width: 70px;
    height: auto;
}

.kickoff  .row-2{
    display: flex;
    flex-direction: column;
}
.kickoff .row-2 .intro > p {
    max-width: 900px;;
}

.kickoff .row-2 .wrapper{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
}
.kickoff .row-2 .wrapper > .col-1{
    margin-right: 0;
}
.competitor-graph_container{
    width: 100%;
    height: 250px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.competitor-graph_container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    content: url(../../../images/graph.png);
}


@media only screen and (max-width: 768px) and (min-width: 415px){
    .kickoff .wrapper{
        flex-direction: column;
    }
    .kickoff .wrapper .arrows{
        display: none;
    }
    .kickoff .wrapper > .col-1{
        margin-bottom: var(--p-space-lg);
    }

    .kickoff .row-2 .wrapper {
        grid-template-columns: 300px auto 300px;
        grid-template-rows: repeat(1fr auto);
    }
    .competitor-graph_container{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .kickoff .row-2 .wrapper > .col-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .kickoff .row-2 .wrapper > .col-3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media only screen and (max-width: 414px) {
    .kickoff .wrapper{
        flex-direction: column;
    }
    .kickoff .wrapper .arrows{
        display: none;
    }
    .kickoff .wrapper > .col-1{
        margin-bottom: var(--p-space-lg);
    }

    .kickoff .row-2 .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .competitor-graph_container{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .kickoff .row-2 .wrapper > .col-1{
        display: none;
    }
    .kickoff .row-2 .wrapper > .col-3{
        display: none;
    }
}




/*solutions*/
.solutions{
    background-color: var(--accend-color-50);
}

.solutions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.solution-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.solution-title > h1{
    margin-right: var(--txt-space-sm);
}


@media only screen and (max-width: 768px) {
    .solutions-container {
        flex-direction: column;
    }
    .solutions-container > .solution{
        margin-bottom: var(--p-space-sm);
    }
}


/*features walkthrough*/
section[class*="feature"]{
    flex-direction: column;
    position: relative;
    height: fit-content;
    overflow: hidden;
}

div[class*="highlight-1"]{
    margin-top: 120px;
}
div[class*="highlight"]{
    max-width: 450px;
}
div[class*="highlight-2"]{
    margin-bottom: 100px;
}


@media only screen and (max-width: 414px) {
    section[class*="feature"] {
        height: 900px;
        align-items: center;
    }
    section[class*="feature"] > .intro{
        width: 100%;
    }
    div[class*="highlight"]{
        width: 100%;
    }
}

.feature-1 > .welcome-section {
    content: url(../../../images/Homepage/homepage_feature1.png);
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .feature-1 > .welcome-section {
        width: 65%;
        right: -50px;
    }
}
@media only screen and (max-width: 414px) {
    .feature-1 > .welcome-section {
        position: static;
        width: 80%;
    }
}

/*feature2*/
.module-status{
    content: url(../../../images/Homepage/homepage_feature2.png);
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .module-status {
        width: 65%;
        right: -50px;
    }
}

@media only screen and (max-width: 414px) {
    .module-status {
        position: static;
        width: 80%;
    }
}

/*feature3*/
.customization-panel{
    content: url(../../../images/Homepage/homepage_feature3.png);
    position: absolute;
    right: 4vw;
    width: 35%;
    z-index: -1;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .customization-panel {
        width: 45%;
        right: -40px;
    }
}

@media only screen and (max-width: 414px) {
    .customization-panel{
        position: static;
        width: 50%;
    }
}



/*impact & next steps*/
.impacts_next ol > li {
    list-style-position: inside;
    margin-bottom: 4px;
}



