/*global styles*/
section{
    width: 100%;
    padding: 80px 6%;
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 800px) and (min-width: 415px){
    section{
        padding: 80px 12%;
        flex-direction: column;

    }
}

@media only screen and (max-width:414px ){
    section{
        padding: 80px 32px;
        flex-direction: column;
    }
}

/*project hero section*/
.project-title{
    background: var(--accend-color-50);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}
.project-intro__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-start;
}
.project-intro__content{
    width: 50%;
    padding-left: 80px;
    padding-top: 2rem;
}
.project-intro__image{
    width: 50%;
}
.project-intro__image  .user-homepage-mockup {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.project-breakdown__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}

div[class^="project-breakdown"]  li {
list-style-position: inside;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .project-intro__container {
        flex-direction: column;
    }
    .project-intro__content{
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        margin-top: 2.5rem;
    }
    .project-intro__image {
        width: 100%;
    }
    .project-breakdown__container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
    }

    div[class^="project-breakdown"] {
        width: 100%;
    }
}

@media only screen and (max-width: 414px){
    .project-intro__container {
        flex-direction: column;
    }
    .project-intro__content{
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        margin-top: 2.5rem;
    }
    .project-intro__image {
        width: 100%;
    }
    .project-breakdown__container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
    }

    div[class^="project-breakdown"] {
        width: 100%;
    }
}

/*client section*/
.client-intro > .col-1, .col-2{
    width: 50%;
}


.client-intro .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-intro .col-2 .tg-logo{
    max-width: 220px;
    width:100%;
    height:auto;
    object-fit: contain;
}

@media only screen and (max-width: 768px){
    .client-intro > .col-1, .col-2{
        width: 100%;
    }
    .client-intro > .col-1 {
        margin-bottom: 60px;
    }
}

/*problem context*/
.problem-context {
    display: flex;
    flex-direction: row;
    align-items:self-start;
}
.problem-context .col-1{
    width: 50%;
    padding-top: 2rem;
    padding-right: var(--p-space-md);
}
.problem-context .col-2{
    width: 50%;
}

.problem-context .col-2 .old-homepage{
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media only screen and (max-width: 768px) and (min-width: 415px){
    .problem-context {
        flex-direction: column;
    }
    .problem-context  .col-1 {
        width: 100%;
        padding-right:0;
        padding-top: 0;
        margin-bottom: 60px;
    }
    .problem-context  .col-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 414px) {
    .problem-context {
        flex-direction: column;
    }
    .problem-context  .col-1 {
        width: 100%;
        padding-right:0;
        padding-top: 0;
        margin-bottom: 60px;
    }
    .problem-context  .col-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*problems*/
.problems{
    display: flex;
    flex-direction: column;
}

.problems > .row-1, .row-2{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-1 > h3{
    display: block;
    padding-top: 24px;
}
.row-2 > h3{
    display: block;
    padding-top: 24px;
}
.problem > h2{
    width: 27vw;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .problems > .row-1, .row-2{
        flex-direction: column;
    }
    .problems > .row-1 {
        margin-bottom: 60px;
    }
    .problem > h2 {
        width: 100%;
    }
}

@media only screen and (max-width: 414px)  {
    .problems > .row-1, .row-2{
        flex-direction: column;
    }
    .problems > .row-1 {
        margin-bottom: 60px;
    }
    .problem > h2 {
        width: 350px;
    }
}



/*how might we*/
.hmw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accend-color-50);
}
.hmw > .wrapper{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    align-items: flex-start;
}

@media only screen and (max-width: 768px) and (min-width: 415px){
    .hmw > .wrapper{
        max-width: 568px;
    }
}

@media only screen and (max-width: 414px) {
    .hmw{
        align-items: normal;
    }
    .hmw > .wrapper{
        max-width: 350px;
    }
}

/*project kickoff*/
.kickoff{
    flex-direction: column;
}
.kickoff .row-1 {
    margin-bottom: 80px;
}
.kickoff .row-1 .intro > p{
    max-width: 900px;
}
.kickoff .wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
}
.kickoff .wrapper .col-1 > p {
    max-width: 400px;
}
.kickoff .wrapper  .col-1{
    margin-right: var(--p-space-md);
}
.kickoff .wrapper  .col-2{
    margin-right: var(--p-space-md);
}
.kickoff .wrapper .arrows {
    display: flex;
    flex-direction: column;
}

.kickoff .wrapper .arrows .arrow-container{
    height: 50%;
    display: flex;
    /* width: 70px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kickoff .wrapper .arrows .arrow{
    content: url(../../../images/Arrow.png);
    width: 70px;
    height: auto;
}

.kickoff  .row-2{
    display: flex;
    flex-direction: column;
}
.kickoff .row-2 .intro > p {
    max-width: 900px;;
}

.kickoff .row-2 .wrapper{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
}
.kickoff .row-2 .wrapper > .col-1{
    margin-right: 0;
}
.competitor-graph_container{
    width: 100%;
    height: 250px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.competitor-graph_container > img{
    width: 100%;
    height: auto;
    object-fit: contain;
}


@media only screen and (max-width: 768px) and (min-width: 415px){
    .kickoff .wrapper{
        flex-direction: column;
    }
    .kickoff .wrapper .arrows{
        display: none;
    }
    .kickoff .wrapper > .col-1{
        margin-bottom: var(--p-space-lg);
    }

    .kickoff .row-2 .wrapper {
        grid-template-columns: 300px auto 300px;
        grid-template-rows: repeat(1fr auto);
    }
    .competitor-graph_container{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height:fit-content;

    }

    .kickoff .row-2 .wrapper > .col-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .kickoff .row-2 .wrapper > .col-3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media only screen and (max-width: 414px) {
    .kickoff .wrapper{
        flex-direction: column;
    }
    .kickoff .wrapper .arrows{
        display: none;
    }
    .kickoff .wrapper > .col-1{
        margin-bottom: var(--p-space-lg);
    }

    .kickoff .row-2 .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .competitor-graph_container{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height:fit-content;

    }

    .kickoff .row-2 .wrapper > .col-1{
        display: none;
    }
    .kickoff .row-2 .wrapper > .col-3{
        display: none;
    }
}




/*solutions*/
.solutions{
    background-color: var(--accend-color-50);
}

.solutions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.solution-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.solution-title > h1{
    margin-right: var(--txt-space-sm);
}


@media only screen and (max-width: 768px) {
    .solutions-container {
        flex-direction: column;
    }
    .solutions-container > .solution{
        margin-bottom: var(--p-space-sm);
    }
}


/*features walkthrough*/
section[class*="feature"]{
    flex-direction: column;
    position: relative;
    height: fit-content;
    overflow: hidden;
}

div[class*="highlight-1"]{
    margin-top: 120px;
}
div[class*="highlight"]{
    width: 40%;
}
div[class*="highlight-2"]{
    margin-bottom: 100px;
}


@media only screen and (max-width: 414px) {
    section[class*="feature"] {
        height: 900px;
        align-items: center;
    }
    section[class*="feature"] > .intro{
        width: 100%;
    }
    div[class*="highlight"]{
        width: 100%;
    }
}

.feature-1 > .welcome-section {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .feature-1 > .welcome-section {
        width: 65%;
        right: -50px;
    }
}
@media only screen and (max-width: 414px) {
    .feature-1 > .welcome-section {
        position: static;
        width: 80%;
    }
}

/*feature2*/
.module-status{
    height: auto;
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .module-status {
        width: 65%;
        right: -50px;
    }
}

@media only screen and (max-width: 414px) {
    .module-status {
        position: static;
        width: 80%;
    }
}

/*feature3*/
.customization-panel{
    position: absolute;
    right: 4vw;
    width: 35%;
    height: auto;
    z-index: -1;
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .customization-panel {
        width: 45%;
        right: -40px;
    }
}

@media only screen and (max-width: 414px) {
    .customization-panel{
        position: static;
        width: 50%;
    }
}



/*impact & next steps*/
.impacts_next ol > li {
    list-style-position: inside;
    margin-bottom: 4px;
}



