.project-container {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--depth-1);
  border-radius: 6px;
}

.project-image {
  width: 45%;
  height: 100%;
  background: var(--accend-color-50);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:1;
}
.project-image > .device-mockup{
  width: 75%;
  height: auto;
  content: url(../images/Desktop-dark\ 2.png);
  z-index: 1;
}
.project-brief {
  flex-grow: 1;
  margin-left: 60px;
  padding: 1.5rem;
}
.project-intro {
  max-width: 440px;
}
.project-info {
  display: flex;
  flex-direction: column;
}
.project-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-info > div > h3 {
  width: 120px;
  margin-right: 24px;
}


.pills-container {
  height: auto;
  margin-top: 0.75rem;

}
.pill {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  padding: 4px 8px;
  background-color: var(--primary-color-50);
  border-radius: 10px;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
}

@media only screen and (max-width: 768px) and (min-width:415px) {
  .project-container {
    flex-direction: column;
  }

  .project-brief {
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
  }
.project-image {
  width: 100%;
  min-height: 400px;
  } 
}

@media only screen and (max-width: 414px){
  .project-container {
    flex-direction: column;
  }

  .project-brief {
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
  }
.project-image {
  width: 100%;
  min-height:300px;
  } 
}